
/* Assumming that the first header not being a class selector is NOT a typo. */

$elements: header, footer, feature;
$a_colors: #fff, #095169, #fff;
$a_hover_colors: #095169, #fff, #531946;

header {
  background-color: #531946;
}

.header {
  a {
    color: #fff;
    &:hover {
      color: #095169;
    }
  }
}

.footer {
  background-color: #30162B;
  color: #fff;
  a {
    color: #095169;
    &:hover {
      color: #fff;
    }
  }
}

.feature {
  a {
    background-color: #30162B;
    color: #fff;
    &:hover {
      color: #531946;
    }
  }
}

.content {
  background-color: #fff;
  color: #222;
}
