// common styles for all the webpage's pages.

@import "./_mixins.scss";

body {
  background-color: green;
}

.base {
  @include center;
  background-color: lightgray;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  header {
    width: 800px;
    padding: 5px 30px 5px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    %common-header {
      background-color: lightblue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3px 5px 3px 5px;
      padding: 3px 5px 3px 5px;
    }

    .icondiv {
      @extend %common-header;
      background-color: purple;
      width: 300px;
      justify-content: flex-start;
      margin-right: 30px;
    }

    .namediv {
      @extend %common-header;
      width: 430px;
      align-items: flex-end;
      height: 100px;
      @for $i from 1 to 6 {
        h#{$i} {
          margin: 0;
          background-color: rgb($i * 30, $i * 30, $i * 30);
        }
      }
      div {
        width: 60px;
        height: 40px;
        background-color: coral;
      }
    }

    nav {
      @extend %common-header;
      width: 780px;
      height: 35px;
    }
  }
}
