body {
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif; }

.base {
  margin: 0 auto;
  width: 50%;
  background-color: lightgray;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid DimGray; }
  .base header {
    width: 800px;
    padding: 5px 30px 5px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .base header .icondiv, .base header .namediv, .base header nav {
      background-color: lightblue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3px 5px 3px 5px;
      padding: 3px 5px 3px 5px; }
    .base header .icondiv {
      background-color: mediumorchid;
      width: 300px;
      justify-content: flex-start;
      margin-right: 30px;
      border: 1px solid dimgray; }
      .base header .icondiv span {
        margin-left: 8px; }
    .base header .namediv {
      width: 430px;
      align-items: flex-start; }
      .base header .namediv h1 {
        margin: 0; }
      .base header .namediv h2 {
        margin: 0; }
      .base header .namediv h3 {
        margin: 0; }
      .base header .namediv h4 {
        margin: 0; }
      .base header .namediv h5 {
        margin: 0; }
    .base header nav {
      width: 780px;
      height: 35px; }
  .base main {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .base main .content {
      width: 495px;
      margin: 3px, 3px, 3px, 3px; }
      .base main .content .feature {
        width: 495px;
        margin: 3px, 0, 3px, 0; }
      .base main .content .feature {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 0 5px 0;
        background-color: darkgray; }
        .base main .content .feature .examples {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 460px;
          padding: 10px 3px 2px 3px;
          margin: 10px 3px 5px 3px; }
          .base main .content .feature .examples .example {
            background-color: IndianRed;
            width: 100px;
            height: 150px;
            margin: 8px 8px 8px 8px;
            padding: 5px 5px 5px 5px;
            border: 1px solid dimgray;
            border-radius: 20px; }
    .base main .sidebar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 270px;
      margin: 3px, 3px, 3px, 0px;
      padding: 5px 10px 5px 10px;
      background-color: green;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center; }
      .base main .sidebar .formdiv, .base main .sidebar .contactdiv {
        width: 100%;
        margin: 3px 3px 3px 3px;
        padding: 3px 3px 3px 3px; }
      .base main .sidebar .formdiv {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column; }
        .base main .sidebar .formdiv span {
          text-align: center; }
        .base main .sidebar .formdiv form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: center; }
          .base main .sidebar .formdiv form .row {
            margin: 5px 0 5px 0;
            padding: 3px 0 3px 0; }
          .base main .sidebar .formdiv form input[type="button"] {
            width: 25%;
            align-self: center; }

/*# sourceMappingURL=main.css.map */
