.card {
  width: 100%;
  height: 100%;
  .card-main {
    background-color: red;
    width: 100%;
    height: 80%;
  }
  .card-foot {
    background-color: blue;
    width: 100%;
    height: 20%;
  }
}
