.placeholders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 3px 2px 3px;
  margin: 10px 3px 5px 3px;
  .placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: IndianRed;
    width: 90px;
    height: 130px;
    margin: 8px 8px 8px 8px;
    padding: 5px 5px 5px 5px;
    // overflow: hidden;
    border: 1px solid dimgray;
    border-radius: 10px;
  }
}
